body{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background: skyblue;
}
#board{
    /* background-color: skyblue; */
    background-image: url('images/bg.jpeg');
}